build
target
bin
.settings
.classpath
.project

# intellij project data
**/.idea
*.iml

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# Gradle
**/gradle
.gradle
build/
gradlew
gradlew.bat

#JADEX
platform_auto.conf
settings_*
.jadex

/jcc.settings.json
